# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Output dir
.build

# Xcode
.swiftpm

# archive
docs/archive/*
!docs/archive/.gitkeep
